<div>
<uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel panel-default" ng-repeat="item in localItems track by $index"
         is-open="open[$index]">
        <uib-accordion-heading ng-click="open[$index]= !open[$index]">
            {{item.title | translate}}
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': open[$index], 'glyphicon-chevron-right': !open[$index]}"></i>
        </uib-accordion-heading>


        <v2c-carousel ng-if="item.type === CAROUSSEL_TYPE" pages='item.pages'></v2c-carousel>

        <div ng-if="item.type === TEXT_TYPE" translate="{{item.content}}" translate-compile></div>

        <v2c-filesystem-browser ng-if="item.type === FILE_SYSTEM_TYPE" class="filesystem-browser" filesystem="item">
        </v2c-filesystem-browser>
    </div>
</uib-accordion>
</div>