<div class="task-bar-button-container" ng-show="showButton">
    <ul class="task-bar-button-menu" ng-class="{open: menuShown}" v2c-click-outside="hideButtonMenu()"
        v2c-click-outside-ignore="taskbarbutton">
        <li ng-repeat="action in button.actions">
            <a ng-class="action.className" ng-click="action.callback()">
                <i><div class="action-image"></div></i>{{action.name | translate}}
            </a>
        </li>
    </ul>
    <button class="task-bar-button" ng-click="buttonClicked()" id="taskbarbutton">
        <i class="btn-icon" ng-class="button.iconClassName"></i>
        <div class="btn-name">{{button.name | translate}}</div>
    </button>
</div>