.panel-default > .panel-heading {
    border: none;
    background-color: #eeeeee;
    color: #525252;
    padding: 0;
}

.accordion-toggle {
    display: block;
    padding: 12px 25px;
}

.panel {
    background-color: transparent;
}

.panel-title {
    font-weight: 300;
    font-size: 18px;
    background: #cbccca;
    color: black;
}

.accordion-toggle .fa-angle-right {
    font-size: 24px;
    font-weight: 300;
    margin-top: -3px;
    transform: rotate(90deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.accordion-toggle.collapsed .fa-angle-right {
    transform: rotate(0deg);
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
}

.panel-title > a:active,
.panel-title > a:focus,
.panel-title > a:hover {
    text-decoration: none;
}

.panel-group {
    margin-bottom: 0;
}

.panel-group .panel + .panel {
    margin-top: 10px;
}