.filesystem-browser .header h2 {
    font-size: 1em;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0
}

.filesystem-browser .header {
    margin-bottom: 0;
    -ms-flex-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.filesystem-browser .menu-body {
    padding: .25em
}

.filesystem-browser .header.breadcrumbs {
    display: block;
    background: rgba(0,0,0,0.0125);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    box-shadow: none;
    margin-top: 0;
    border-top: 0
}

.filesystem-browser .header.breadcrumbs .breadcrumb {
    display: inline-block;
    padding: .5em;
    font-size: .8em;
    font-weight: bold
}

.filesystem-browser .header.breadcrumbs .breadcrumb:hover {
    background-color: #CDA;
    cursor: pointer
}

.filesystem-browser .header.breadcrumbs .breadcrumb.root {
    background-size: 1.5em 1.5em;
    -moz-background-size: 1.5em 1.5em;
    -webkit-background-size: 1.5em 1.5em;
    -khtml-background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('images/drive.png');
    width: 2em;
    height: 2em;
    padding: 0;
    vertical-align: middle;
}